<script src="/js/empresas/listagem.js"></script>

<h1>Empresas cadastradas</h1>
<a class="btn btn-secondary" style="max-width: 200px;" href="empresas/cadastrar">Novo Usuário</a>

<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Endereco</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>

                        <td><%= lista[i].empresaId %></td>
                        <td><%= lista[i].empresaNome %></td>
                        <td><%= lista[i].empresaCNPJ %></td>
                        <td><%= lista[i].empresaTelefone %></td>
                        <td><%= lista[i].empresaEmail %></td>
                        <td><%= lista[i].empresaEndereco %></td>
                        <td><%= lista[i].empresaCidade %></td>
                        <td><%= lista[i].empresaEstado %></td>
                        <td><%= lista[i].empresaCEP %></td>
                        <td>
                            <a href="/empresas/alterar/<%= lista[i].empresaId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button data-codigoexclusao="<%= lista[i].empresaId %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
