
<script src="/js/alterar.js"></script>
<body>
    <h6>Alterar</h6>
        <div class="d-flex grid">
            <div class="form-floating mb-3">
                <label for="inputNome">Nome Completo:</label>
                <input
                type="text"
                value="<%= usuario.voluntarioNome %>"
                class="form-control"
                id="inputNome"
                />
            </div>
            <div class="form-floating">
                <label for="inputEmail">Email:</label>
                <input
                type="email"
                class="form-control"
                id="inputEmail"
                value="<%= usuario.voluntarioEmail %>"
                />
            </div>
        </div>
        <div class="d-flex grid">
            <div class="form-floating mb-3">
                <label for="inputNasc">Data de nascimento:</label>
                <input
                type="text"
                class="form-control"
                id="inputNasc"
                value="<%= usuario.voluntarioNasc %>"
                />
            </div>
            <div class="form-floating">
                <label for="inputEnd">Endereço:</label>
                <input
                type="text"
                class="form-control"
                id="inputEnd"
                value="<%= usuario.voluntarioEndereco %>"
                />
            </div>
        </div>
        <div class="d-flex grid">
            <div class="form-floating mb-3">
                <label for="inputCep">CEP:</label>
                <input
                type="text"
                class="form-control"
                id="inputCep"
                value="<%= usuario.voluntarioCep %>"
                />
            </div>
            <div class="form-floating mb-3">
                <label for="inputTel">Telefone:</label>
                <input
                type="text"
                class="form-control"
                id="inputTel"
                value="<%= usuario.voluntarioTelefone %>"
                />
            </div>
        </div>
        <button class="btn btn-primary" onclick="alterarValores(<%= usuario.voluntarioId %>)">Salvar</button>
</body>
