<script src="/js/voluntarios/listagem.js"></script>

<h1>Voluntarios cadastradas</h1>
<a class="btn btn-secondary" style="max-width: 200px;" href="voluntarios/cadastrar">Novo Usuário</a>

<hr>
<div>
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data Nascimento</th>
            <th>Endereco</th>
            <th>CEP</th>
        </thead>
        <tbody>
            <% for (let i=0; i < lista.length; i++) { %>
                <tr>

                    <td>
                        <%= lista[i].voluntarioId %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioNome %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioEmail %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioTelefone %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioDataNasc %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioEndereco %>
                    </td>
                    <td>
                        <%= lista[i].voluntarioCEP %>
                    </td>
                    <td>
                        <a href="/voluntarios/alterar/<%= lista[i].voluntarioId %>" class="btn btn-primary"><i
                                class="fas fa-pen"></i></a>
                        <button data-codigoexclusao="<%= lista[i].voluntarioId %>" class="btn btn-danger btnExclusao"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>