<h1>Doações cadastradas</h1>
<a class="btn btn-secondary" style="max-width: 200px;" href="doacoes/cadastrar">Nova Doação</a>

<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Valor</th>
                <th>Data Doação</th>
                <th>Forma de Pagamento</th>
                <th>Doador Id</th>
                <th>Projeto Id</th>
                <th>Caixa Id</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>

                        <td><%= lista[i].doacaoId %></td>
                        <td><%= lista[i].doacaoValor %></td>
                        <td><%= lista[i].doacaoData %></td>
                        <td><%= lista[i].doacaoFormPag %></td>
                        <td><%= lista[i].doadorId %></td>
                        <td><%= lista[i].projetoId %></td>
                        <td><%= lista[i].caixaId %></td>
                        <td>
                            <a href="/doacoes/alterar/<%= lista[i].doacoesId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button data-codigoexclusao="<%= lista[i].doacoesId %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
